.commentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 28px;
  margin-bottom: 27px;
}

.commentForm-label {
  color: #000;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.commentForm-textarea {
  padding: 3px;
  resize: none;
  height: 74px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.commentForm-mainTextarea {
  height: 67px;
}

.commentForm-btns {
  display: flex;
  gap: 10px;
}

.commentForm-btn {
  align-self: flex-start;
  padding: 2px 10px;
  cursor: pointer;
}
