.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  padding: 17px 21px 20px 19px;
  gap: 13px;
}

.Item-modal {
  gap: 24px;
}

.Item-title {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.Item-title p {
  margin: 0;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
}

.Item-details {
  font-size: 18px;
  display: flex;
  gap: 67px;
}
