.loginPanel {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.loginPanel-profileLink {
  color: #0087e9;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  padding-top: 4px;
}
