.CartSummary {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 18px;
  margin-right: 21px;
  font-size: 18px;
}

.CartSummary-modal {
  margin-right: 110px;
  padding: 25px 0 22px;
}

.CartSummary-content {
  display: flex;
  gap: 17px;
}

.CartSummary-content-modal {
  gap: 45px;
}

.CartSummary-title {
  font-size: 18px;
}

.CartSummary-sum {
  margin-right: 8px;
  font-size: 18px;
}
